<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="main-footer">
    <div class="container footer-content">
        <div class="footer-col">
            <h4>Contacte</h4>
            <p>Oficina per a la Vida Independent</p>
            <p>C/ Exemple, 123</p>
            <p>46001 València</p>
            <p>Tel: 96 123 45 67</p>
            <p>Email: info@ovi.org</p>
        </div>
        <div class="footer-col">
            <h4>Informació Legal</h4>
            <p>
                <a href="https://eur-lex.europa.eu/legal-content/ES/TXT/PDF/?uri=CELEX:32016R0679" target="_blank" rel="noopener noreferrer">
                Protecció de Dades (RGPD)
                </a>
            </p>
            <p>
                <a href="https://www.boe.es/buscar/pdf/2018/BOE-A-2018-16673-consolidado.pdf" target="_blank" rel="noopener noreferrer">
                    Protecció de Dades (LOPD)
                </a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>